.peculiarities {
  background-color: var(--white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: nowrap;
}

.feature-list__box {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list__logo {
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
}

.feature-list__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-list__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
